
  @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

//   font-family: 'Mooli', sans-serif;
// font-family: 'Roboto', sans-serif;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mooli', sans-serif;
    scroll-behavior: smooth;
}